#members{
        figure{
            #sub_visual {
                width: 100%;
                height:400px;
                background:url(../img/visual_1.jpg) no-repeat  center/cover;
                text-align: center;
                position:relative;
                z-index: 1;
                background-attachment: fixed;

                .sub-text-content{
                    position: absolute;
                    left:50%;
                    top:280px;
                    line-height:35px;
                    transform: translateX(-50%);
                    text-align: center;
                    color: white;
    
                    p{
                        font-size: 22px;
                        span{
                            font-size: 45px;
                        }
                    }
    
                }  
        
                }
            }
                 
    
        .inner {
            width:  1180px;
            margin: 0px auto;
            font-size: 13px;
                    font-family: 'Nanum Gothic Coding', monospace;

            h1{
                font:normal 18px/1 'Lora';
                padding-top: 70px;
                font-weight: 800;
        
                span{
                    color:#EF4136;
                    font:normal 22px/1 'Lora';
                    font-weight: 800;
                }
            }
            .wrap{
                text-align: center;
                margin-top: 50px;

            
                .error {
                    background: #ffeafe;
                    border: 1px solid #ff24ff;
                }   
        
                .main-text{
                    background-color: #f8f8f8;
                    border:1px solid #ddd;
                    padding: 20px;
                    padding-bottom: 60px;

                    #first-answer, #second-yes{
                        float: left;
                        margin-left: 30px;
                        vertical-align: middle;
                    
                    }
                    #first-no, #second-no{
                        margin-left: 20px;
                        vertical-align: middle;
                    }

                    h1{
                        padding-bottom: 30px;
                        font-family: 'Nanum Gothic Coding', monospace;
                        color:rgb(36, 49, 92);
                        padding-top:30px;
                    }

                    h3{
                        font-size: 15px;
                        font-family: 'Nanum Gothic Coding', monospace;
                        text-align: left;
                        margin-bottom: 12px; 
                        color:rgb(36, 49, 92);    
                        padding-left: 30px; 
                        &:nth-of-type(2){
                            margin-top: 60px;
                        }

                    }
                    textarea {
                        margin-bottom: 10px;
                        text-align: left;
                        width: 95%;
                        padding-bottom:3px;
                        font-size: 12px;
                        color:#555;
                        padding: 20px;
                        box-sizing: border-box;
                    }
                    p, .consent{
                        float: left;
                        padding-left: 10px;
                        font-family: 'Nanum Gothic Coding', monospace;
                        font-weight: 600;

                        input{
                            vertical-align: middle;
                            margin-right: 5px;
                        }
                    }
                
                }
                .total-agree{
                    width: 100%;
                    height: 50px;
                    background-color: #fff;
                    border:1px solid #ddd;
                    font-size: 13px;
                    margin-top: 10px;
                    margin-bottom: 50px;

                    h4{
                        float:left;
                        font-family: 'Nanum Gothic Coding', monospace;
                        line-height: 50px;
                        padding-left: 40px;
                    } 
                    
                    fieldset{
                        font-size: 13px;
                        float: right;
                        line-height: 50px;
                        padding-right: 40px;
    
                        }
                }
            
            
            }
            
        }
    
}
#register{
    .inner{
        width: 1180px;
        margin: 0 auto;
        font-size: 13px;
        font-family: 'Nanum Gothic Coding', monospace;
    
        .wrap {
            background-color: #f8f8f8;
            border:1px solid #ddd;
            padding: 30px;
            width: 100%;
            box-sizing: border-box;

            .error{
                color: red;
            }
    

            p{
                font-size: 15px;
                font-weight: 800;
                padding-bottom: 30px;
          
            }
            h2{
                font-size: 15px;
                padding-bottom: 8px;
                font-weight: 800;
            }
            
            .content{
                background-color: white;
                border:1px solid #ddd;
                padding: 30px;
                margin-bottom: 25px;
        
                table{
                            background-color: #fff; 
                            border-top: 1px solid #222;
                            padding: 30px;
                            width: 100%;
                   
                    
                    th{
                        width: 14%;
                        height: 45px;
                        background-color: #f8f8f8;
                        border-bottom:1px solid #ddd;
                        border-right:1px solid #ddd;
                        line-height: 45px;
                    }
                    .personal {
                        padding: 0 15px;
                    }
                    td{
                        background-color: #fff;
                        border-bottom:1px solid #ddd;

                        p{
                            font: 12px/1 "맑은 고딕";
                            color: hotpink;
                            display: inline-block;
                            padding-bottom: 0;
                            display: none;
                            }
                        

                        #sample4_jibunAddress{
                            margin-bottom: 7px;
                        }

                        #sample4_postcode{
                            width: 160px;
                            margin-top:7px;
                            margin-bottom: 7px;
                        }

                        #sample4_detailAddress {
                            width: 160px;
                        }
                        #search-mailcode{
                            width: 120px;
                            font-size: 10px;
                            background-color: rgb(36, 49, 92);
                            color: white;
                        }

                        select{
                            margin-left: 20px;
                            height: 25px;
                            width: 150px;
                            border: 1px solid #ddd;
                            color:#333;
                            font-size: 12px;
                        }
                        em {
                            font-style: normal;
                            font-size: 12px;
                            color:#777;
                        }
                        input[type="radio"]{
                            color: red;
                        }
                    }
                    span{
                        color: red;
                    }

                    input {
                        border:1px solid #ccc;
                        margin-left: 12px;
                        height: 25px;
                        width:300px;

                        &::placeholder{
                            font-size: 11px;
                            color:#999;
                            padding-left: 10px;
                        }
                    }

                    .userid-confirm{
                        color: white;
                        font-size: 10px;
                        background-color: rgb(36, 49, 92);
                        padding: 6px 8px;
                        border: none;
                        outline: none;
                    }
                    .conem {
                        visibility: hidden;
                        color: red;
                        font-size: 13px;
                        display: inline-block;  
                    }
                   
                }
            }
            .add{
             
                input[type=radio] {
                    border: 0px;
                    width: 10px;
                    height: 10px;
                    margin-right: 20px;
                    margin-left: 2px;
                }
                td,th{
                    border-top: 1px solid #ddd;
                }
            }

        }
        .receive-agree{
            background-color: #f8f8f8;
            margin-top: 20px;
            border: 1px solid #ddd;
            padding: 30px;

            h1{
                padding: 10px 0;
                font:normal 18px/1 'Lora';
                font-weight: 800;
            }
            .inner{
                width: 100%;
                margin: 0 auto;
                 font-size: 13px;
                 padding: 20px;
                 background-color: #fff;
                 border: 1px solid #ddd;
                 font-family: 'Nanum Gothic Coding', monospace;
                 box-sizing: border-box;

                 input{
                     margin: 5px 0;
                 }
 
        }

        }
        .button{
            text-align: center;
            margin-bottom: 100px;
            margin-top: 50px;
 
            input{
                width: 60px;
                height: 30px;
                font-size:  12px;
                background-color: #fff;
                outline: none;
                border: 1px solid #666;
           

                &:hover{
                    color: white;
                    background-color:rgb(36, 49, 92);
                }
            }
            
            }
    }
}