#register{
    .inner{
        width: 1180px;
        margin: 0 auto;
        font-size: 13px;
        font-family: 'Nanum Gothic Coding', monospace;

        .process-map{
            text-align: center;
            >ul{
                margin:70px 0;
                
                li{
                   display: inline-block;
                    border-radius: 50%;
                    color:white;
                    background-color: #222;
                    width: 35px;
                    height: 35px;
                    line-height:35px;
                    margin: 0 80px;
                    z-index: 3;
                    position: relative;
    
                    &:nth-child(1), &:nth-child(2){
                        background-color: #EF4136;    
                        z-index: 3;
                    }
    
                    &:nth-child(1)::before,  &:nth-child(2)::before{
                            content: '';
                            width: 60px;
                            height: 2px;
                            background-color: #EF4136;     
                            bottom:49%;
                            left:-60px;
                            z-index: 3;
                            position:absolute;
                            }
    
                    &:nth-child(4)::before{
                        content: '';
                        width: 60px;
                        height: 2px;
                        background-color: #222;
                        position:absolute;
                        bottom:49%;
                        left:35px;
                        z-index: 1;
                        }       
    
                     &:nth-child(3)::after, &:nth-child(4)::after{
                        content: '';
                        width: 177px;
                        height: 2px;
                        background-color: #222;
                        position:absolute;
                        bottom:49%;
                        z-index: 1;
                        left:-170px;
              
                        } 
                        &:nth-child(2)::after{
                        content: '';
                        width: 160px;
                        height: 2px;
                        background-color: #EF4136;     
                        bottom:49%;
                        left:-180px;
                        z-index: 3;
                        position:absolute;
                    }
    
                }
            }
            .text  {
                ul{   
                        &::after{
                            content: '';
                            display: block;
                            clear: both;
                        }
    
                    li{
                        position:relative;
                        top:-60px;
                        margin: 0 65px;
                        float: left;
                        margin: 0 74px;
                        left:16%;
                        font-family: 'Nanum Gothic Coding', monospace;
                        font-weight: 800;
                        color:#111;
                        font-size: 13px;
                        
                    }
                }
            }
        }
  
        h1{
            font:normal 18px/1 'Lora';
            padding-top: 70px;
            font-weight: 800;
    
            span{
                color:#EF4136;
                font:normal 22px/1 'Lora';
                font-weight: 800;
            }
        }
        
        .wrap {
            background-color: #f8f8f8;
            border:1px solid #ddd;
            padding: 30px;
    

            p{
                font-size: 15px;
                font-weight: 800;
                padding-bottom: 30px;
          
            }
            h2{
                font-size: 15px;
                padding-bottom: 8px;
                font-weight: 800;
            }
            
            .content{
                background-color: white;
                border:1px solid #ddd;
                padding: 30px;
                margin-bottom: 25px;
        
                table{
                            background-color: #fff; 
                            border-top: 1px solid #222;
                            padding: 30px;
                            width: 100%;
                   
                    
                    th{
                        width: 14%;
                        height: 45px;
                        background-color: #f8f8f8;
                        border-bottom:1px solid #ddd;
                        border-right:1px solid #ddd;
                    }
                    td{
                        background-color: #fff;
                        border-bottom:1px solid #ddd;
                        padding-left: 5px;

                        #sample4_jibunAddress{
                            margin-bottom: 7px;
                        }

                        #sample4_postcode{
                            width: 160px;
                            margin-top:7px;
                            margin-bottom: 7px;
                        }

                        #sample4_detailAddress {
                            width: 160px;
                        }
                        #search-mailcode{
                            width: 120px;
                            font-size: 10px;
                            background-color: rgb(36, 49, 92);
                            color: white;
                        }

                        select{
                            margin-left: 20px;
                            height: 25px;
                            width: 150px;
                            border: 1px solid #ddd;
                            color:#333;
                            font-size: 12px;
                        }
                        em {
                            font-style: normal;
                            font-size: 12px;
                            color:#777;
                        }
                        input[type="radio"]{
                            color: red;
                        }
                    }
                    span{
                        color: red;
                    }

                    input {
                        border:1px solid #ccc;
                        margin-left: 12px;
                        height: 25px;
                        width:300px;

                        &::placeholder{
                            font-size: 11px;
                            color:#999;
                            padding-left: 10px;
                        }
                    }

                    .name-confirm{
                        color: white;
                        font-size: 10px;
                        background-color: rgb(36, 49, 92);
                        padding: 6px 8px;
                        border: none;
                        outline: none;
                    }
                   
                }
            }
            .add{
             
                input[type=radio] {
                    border: 0px;
                    width: 10px;
                    height: 10px;
                    margin-right: 20px;
                    margin-left: 2px;
                }
                td,th{
                    border-top: 1px solid #ddd;
                }
            }

        }
        .receive-agree{
            background-color: #f8f8f8;
            margin-top: 20px;
            border: 1px solid #ddd;
            padding: 30px;


            h1{
                padding: 10px 0;
                font:normal 18px/1 'Lora';
                font-weight: 800;
            }
            .list{
                background-color: #fff;
                border: 1px solid #ddd;
                padding: 20px;

                input{
                    margin: 6px 5px;
                }
            }
        }
        .button{
            text-align: center;
            margin-bottom: 100px;
            margin-top: 50px;
 
            
            button{
                width: 60px;
                height: 30px;
                font-size:  12px;
                background-color: #fff;
                outline: none;
                border: 1px solid #666;
           

                &:hover{
                    color: white;
                    background-color:rgb(36, 49, 92);
                }
            }
            
            }
    }
}



